@model OutfitO.Models.PromoCode
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Delete User</h5>
                <a class="btn-close" asp-action="Index"></a>
            </div>
            <div class="modal-body">
                <form asp-action="Delete" asp-controller="PromoCode" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Id" class="form-control" hidden />
                    <p>Are You Sure To Delete This PromoCode</p>
                    <div class="form-group">
                        <input type="submit" value="Sure" class="btn btn-danger" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}